<% if false %>
<div class="container_24">
  <div class="grid_20">
    <a href="/pages/student_overview">Student Overview</a>
    <a href="/pages/teacher_overview">Teacher Overview</a>
  </div>
</div>
<% end %>
<div class="container_24">
  <div class="grid_8">
    <%= widget "Absences Today" do %>
      <img src="/images/graphs/dash_absent_today.jpg"/>
      <a href="/pages/search_results">Who's absent today?</a>
    <% end %>
    <%= widget "YTD Absences" do %>
      <div id="placeholder" style="width:285px;height:150px;"></div>
      Click graph to see matching students
    <% end %>
    <%= widget "Absenteeism Three Month Trend" do %>
        <img src="/images/graphs/abs_by_eth.png"/>
    <% end %>
    <%= widget "Teachers Absent Today" do %>
    <ul>
      <li><a href="/pages/teacher_detail">Louisa Bell</a> Current: Algebra 2, Room 121</li>
      <li><a href="/pages/teacher_detail">Manuel Santiago</a> 10:45am: English 1, Room 109</li>
    </ul>
    <% end %>
  </div>
  <div class="grid_8">
    <%= widget "Notable Events" do %>
    <ul>
      <li><img src="/images/student_picture.jpg"/> Student <a href="/pages/student_detail">John Little</a> is absent for the 10th time this year. <a class="action" href="#">contact guardian</a></li>
      <li><img src="/images/student_picture2.jpg"/> Student <a href="/pages/student_detail">Erica Schmidt</a> improved 11% on her test scores this month. <a class="action" href="#">contact guardian</a></li>
      <li><img src="/images/teacher_picture.jpg"/>Teacher <a href="/pages/teacher_detail">Richard Barrymore</a>'s class attendance improved 20% this quarter. <a class="action" href="#">email</a></li>
    </ul>
    <% end %>
    <%= widget "Student Behavior" do %>
      <img src="/images/graphs/dashboard_student_behavior.jpg"/>
    <% end %>
    <%= widget "Education News" do %>
    <ul style="padding-top:10px;">
      <li><a href="http://www.cnn.com/2010/US/studentnews/08/26/newsquiz.fri/index.html#">CNN: Media Literacy Question of the Day</a></li>
      <li><a href="http://ireport.cnn.com/ir-topic-stories.jspa?topicId=484562">CNN: What, who motivates students? </a></li>
      <li><a href="http://www.cnn.com/2010/US/studentnews/08/12/heroes.teacher.parent.guide/index.html">BBC: New Orleans Teacher and Parent Guide</a></li>
    </ul>
    <% end %>
  </div>
  <div class="grid_8">
    <%= widget "Test Scores" do %>
      <img src="/images/graphs/dashboard_test_scores_2.jpg"/>
    <% end %>
    <%= widget "Budget Remaining" do %>
      <img src="/images/graphs/dashboard_budget.jpg"/>
    <% end %>
    <%= widget "Weather" do %>
      <div style="float: left; border: none; padding-top:10px;">
        <img style="float:left;padding:5px;" src="/images/partly_cloudy.gif"/> Morning: 49°F Partly Cloudy<br style="clear:both"/>
        <img style="float:left;padding:5px;" src="/images/partly_cloudy.gif"/> Noon: 65°F Partly Cloudy<br style="clear:both"/>
        <img style="float:left;padding:5px;" src="/images/cloudy.gif"/> Afternoon: 55°F Cloudy<br style="clear:both"/>
      </div>
    <% end %>
  </div>
  <div class="clear"></div>
</div>

<script id="source" language="javascript" type="text/javascript">
var plot;
$(function () {
    // generate a dataset
    var d1 = [[0,100], [1,50], [2,20], [3,10], [4, 16]];

    var data = [{ data: d1, color: "#ccc" }];

    var placeholder = $("#placeholder");

    var ticks = [[0.25, "1 day"], [1.25, "2-3 days"], [2.25, "4-6 days"], [3.25, "6-10 days"], [4.25, "> 10 days"]];

    // plot it
    plot = $.plot(placeholder, data, {
        clickable: true, hoverable: true, tickSize: 0,
        bars: { hoverable: true, clickable: true, show: true, barWidth: 0.5, fill: 0.9 },
        xaxis: { ticks: ticks, autoscaleMargin: 0.02 },
        grid: { tickColor: "rgba(255, 255, 0, 0)", hoverable: true, clickable: true, show: true, borderColor: "rbga(255,255,255,0)" }
    });

    $("#placeholder").bind("plotclick", function (event, pos, item) {
        if (item) {
          plot.highlight(item.series, item.datapoint);
          location.href = "/pages/search_results?bucket=" + ticks[item.datapoint[0]][1].toString().replace(' ', '_');
        }
    });

});
</script>