<div class="container_24">
  <div class="grid_20">
    <h1>Dashboard</h1>
  </div>
</div>
<div class="container_24">
  <div class="grid_20">
    <a href="/pages/student_overview">Student Overview</a>
    <a href="/pages/teacher_overview">Teacher Overview</a>
  </div>
</div>
<div class="container_24">
  <div class="grid_8">
    <%= widget "Absences Today" do %>
      <p>GRAPH</p>
    <% end %>
    <%= widget "Total Absences" do %>
      <p>GRAPH</p>
    <% end %>
    <%= widget "Student Behavior" do %>
      <p>GRAPH</p>
    <% end %>
  </div>
  <div class="grid_8">
    <%= widget "Teachers Absent Today" do %>
    <ul>
      <li>Teacher <a href="/pages/teacher_detail">Louisa Bell</a> Room 121</li>
      <li>Teacher <a href="/pages/teacher_detail">Manuel Santiago</a> Room 109</li>
    </ul>
    <% end %>
    <%= widget "Notable Events" do %>
    <ul>
      <li><img src="/images/student_picture.jpg"/> Student <a href="/pages/student_detail">John Little</a> is absent for the 10th time this year</li>
      <li><img src="/images/student_picture2.jpg"/> Student <a href="/pages/student_detail">Erica Schmidt</a> improved 11% on her test scores since last month</li>
    </ul>
    <% end %>
  </div>
  <div class="grid_7">
    <%= widget "Test Scores" do %>
    <% end %>
    <%= widget "Budget" do %>
      <p>GRAPH</p>
    <% end %>
  </div>
  <div class="clear"></div>
</div>