<div class="container_24">
  <div class="grid_20">
    <h1>Student Body Overview</h1>
  </div>
</div>
<div class="container_24">
  <div class="grid_20">
    <a href="/pages/dashboard">Back to dashboard</a>
  </div>
</div>
<div class="container_24">
  <div class="grid_8">
    <%= widget "Avg. Attendance" do %>
      <strong>(school vs. district)</strong>
      <p>GRAPH</p>
      <strong>(school vs. district)</strong>
      <p>GRAPH</p>
    <% end %>
    <%= widget "Contact Info" do %>
      <%= render :partial => "teacher_contact_info" %>
    <% end %>
    <%= widget "Absenteeism by Ethnicity" do %>
      <p>GRAPH</p>
    <% end %>
  </div>
  <div class="grid_8">
    <%= widget "Notable Events" do %>
    <ul>
      <li>Student <a href="/pages/student_detail">John Little</a> is absent for the 10th time this year</li>
      <li>Student <a href="/pages/student_detail">Erica Schmidt</a> improved 11% on her test scores since last month</li>
    </ul>
    <% end %>
  </div>
  <div class="grid_7">
  </div>
  <div class="clear"></div>
</div>