<div class="container_24">
  <div class="grid_20">
    <h1>Student Detail</h1>
  </div>
</div>
<div class="container_24">
  <div class="grid_20">
    <a href="/pages/dashboard">Back to dashboard</a>
    <% if false%>
    <a href="/pages/student_overview">Back to student overview</a>
    <% end %>
  </div>
</div>
	<div class="container_24">
  <div class="grid_8">
    <%= widget "Student Info" do %>
      <%= render :partial => "student_info" %>
    <% end %>
  </div>
  <div class="grid_16">
    <%= widget "Courses" do %>
		  <img src="/images/graphs/stu_sched.png">
    <% end %>
  </div>
</div>
<div class="container_24">
  <div class="grid_8">
    <%= widget "Guardian Contact Info" do %>
      <%= render :partial => "student_contact_info" %>
    <% end %>
	</div>
  <div class="grid_8">
    <%= widget "Attendance" do %>
        <img src="/images/graphs/student_detail_absenteeism.jpg"/>
    <% end %>
    <%= widget "Behavior" do %>
      <ul>
        <li>Referrals: <%= (rand * 50).to_i %></li>
        <li>Truancy: <%= (rand * 50).to_i %></li>
        <li>Detentions: <%= (rand * 50).to_i %></li>
        <li>Suspensions: <%= (rand * 50).to_i %></li>
      </ul>
    <% end %>
  </div>
  <div class="grid_8">
    <%= widget "English Test Scores" do %>
        <img src="/images/graphs/student_detail_tests_math.jpg"/>
    <% end %>
    <%= widget "Math Test Scores" do %>
        <img src="/images/graphs/student_detail_tests_math.jpg"/>
    <% end %>
  </div>
  <div class="clear"></div>
</div>