<div class="container_24">
  <div class="grid_20">
    <h1>Teacher Details</h1>
  </div>
</div>
<div class="container_24">
  <div class="grid_20">
    <a href="/pages/dashboard">Back to dashboard</a>
    <a href="/pages/teacher_overview">Back to teacher overview</a>
  </div>
</div>
<div class="container_24">
  <div class="grid_8">
    <%= widget "Information" do %>
      <%= render :partial => "teacher_info" %>
    <% end %>
    <%= widget "Contact Info" do %>
      <%= render :partial => "teacher_contact_info" %>
    <% end %>
    <%= widget "Schedule" do %>
      <table>
        <thead>
          <tr>
            <th>Class</th>
            <th>Room</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Math 1</td>
            <td>101</td>
          </tr>
          <tr>
            <td>Social Studies</td>
            <td>137</td>
          </tr>
          <tr>
            <td>History</td>
            <td>121</td>
          </tr>
        </tbody>
      </table>
    <% end %>
  </div>
  <div class="grid_8">

  </div>
  <div class="grid_7">
  </div>
  <div class="clear"></div>
</div>