<!DOCTYPE html>
<html>
<head>
  <title>Classroom sense</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag 'jquery', 'jquery.flot' %>
  <%= csrf_meta_tag %>
</head>
<body>
<div class="container_24" id="header">
  <div class="grid_15">
		<table style="margin-bottom: 0px"><tr>
    	<td style="vertical-align: middle;"><a href="/"><img src="/images/logo.jpg"/></a></td>
			<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<!--spacer--></td>
			<td style="vertical-align: middle;"><span style="font-size: 275%; font-weight: bold;">Mission High School</span></td>
		</tr></table>
  </div>
  <div class="grid_9">
    <div style="float:right;padding-top:10px" align="right">
			<span style="font-style: italic;">Today is <%= Time.now.strftime("%a %b %d, %Y") %>.</span><br/>
      <% if params[:action] != 'home' %>
      <input type="text" name="search" />
      <input type="submit" onclick="javascript: window.location = '/pages/search_results';" value="Search" />
      <% end %>
		  </div>

      <!-- <a style="float:right;font-size: 125%;" href="https://spreadsheets.google.com/viewform?formkey=dEczR3l0M0ZXZ3BwblBtM1Fyb0w0Q2c6MQ">Send us feedback</a><br/> -->
    </div>
  </div>

</div>
<div class="clear"></div>
<%= yield -%>

<% if ENV["HEROKU"].to_s == "true" %>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-8727281-14']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
<% end %>
</body>
</html>
