<!DOCTYPE html>
<html>
<head>
  <title>Classroom sense</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag 'jquery' %>
  <%= csrf_meta_tag %>
</head>
<body>
<div class="container_24" id="header">
  <div align="center" class="grid_4">
    <img src="/images/logo.jpg"/>
  </div>
  <div class="grid_5 weather">
    <div style="float: left; border: none; padding-top:10px;">
      <img style="float:left;padding:5px;" src="/images/partly_cloudy.gif"/> Morning: 49°F Partly Cloudy<br style="clear:both"/>
      <img style="float:left;padding:5px;" src="/images/partly_cloudy.gif"/> Noon: 65°F Partly Cloudy<br style="clear:both"/>
      <img style="float:left;padding:5px;" src="/images/cloudy.gif"/> Afternoon: 55°F Cloudy<br style="clear:both"/>
    </div>
  </div>
  <div class="grid_4"><h2 style="font-size: 250%"><%= Time.now.strftime("%B") %><br/><%= Time.now.strftime("%d %Y") %></h2></div>
  <div class="grid_10">
    <h2>Education News</h2>
    <ul>
      <li><a href="http://www.cnn.com/2010/US/studentnews/08/26/newsquiz.fri/index.html#">CNN: Media Literacy Question of the Day</a></li>
      <li><a href="http://ireport.cnn.com/ir-topic-stories.jspa?topicId=484562">CNN: What, who motivates students? Send us an iReport</a></li>
      <li><a href="http://www.cnn.com/2010/US/studentnews/08/12/heroes.teacher.parent.guide/index.html">BBC: New Orleans Rising - Teacher and Parent Guide</a></li>
    </ul>
  </div>
</div>
<div class="clear"></div>
<%= yield -%>
<hr/>
<% if params[:action] != 'home' %>
<div class="container_24">
  <div class="grid_12">
    <input type="text" name="search" />
    <input type="submit" onclick="javascript: alert('Serach does not work yet, but good to know you tried');" value="Search for students and teachers" />
  </div>
  <div class="grid_11">
    6 people in your network online now:
    <input type="submit" onclick="javascript: alert('Serach does not work yet, but good to know you tried');" value="Chat now" />
  </div>
</div>
<% end %>
</body>
</html>
